{
 :paths ["src" "resources"]
 :deps {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :dev {
                 :extra-paths ["dev" "test" "classes"]
                 :extra-deps {
                              org.clojure/java.doc {:git/url "https://github.com/clojure/java.doc"
                                                    :git/tag "v0.1.4"
                                                    :git/sha "34e381e"}
                              }}}}
